<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>问题解答</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../../assets/css/master.css" rel="stylesheet">
<script>
	document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth / 3.75 + "px";
</script>
</head>
<body style="font-size: 16px" class="Solving_body foot_padd">
    <header class="hudo_head">
    	<a href="javascript:history.go(-1);" class="head_left">
    		<img src="../../assets/images/Home_03_03.png" alt="">返回
    	</a>
    	<h3>问题解答</h3>
    	<!-- <img src="../../assets/images/Home_034_06.png" class="head_right" /> -->
    </header>

    <div class="answer_content">
    	<ul>
    		<li>
    			<a href="answerDetails.html" title="">
	    			<img src="../../assets/images/answerphoto.png" alt="">
	    			<h4>安全安全安全</h4>
	    			<p>请问关于工程安全管理是否有相关法律?</p>
	    		</a>	
    		</li>
    		    		<li>
    			<a href="answerDetails.html" title="">
	    			<img src="../../assets/images/answerphoto.png" alt="">
	    			<h4>安全安全安全</h4>
	    			<p>请问关于工程安全管理是否有相关法律?</p>
	    		</a>	
    		</li>
    		    		<li>
    			<a href="answerDetails.html" title="">
	    			<img src="../../assets/images/answerphoto.png" alt="">
	    			<h4>安全安全安全</h4>
	    			<p>请问关于工程安全管理是否有相关法律?</p>
	    		</a>	
    		</li>
    		    		<li>
    			<a href="answerDetails.html" title="">
	    			<img src="../../assets/images/answerphoto.png" alt="">
	    			<h4>安全安全安全</h4>
	    			<p>请问关于工程安全管理是否有相关法律?</p>
	    		</a>	
    		</li>

    	</ul>
    </div>

    <footer>
        <ul>
            <li>
                <a href="../index.html">
                    <img src="../../assets/images/jiaoliu.png">
                    <p>交流互动</p>
                    
                </a>
            </li>
            <li>
                <a href="../information/informal.html">
                    <img src="../../assets/images/zixunxingxi.png" alt="">
                    <p>资讯信息</p>
                    
                </a>
            </li>
            <li>
                <a href="../ProblemSolving/ProblemSolving.html">
                    <img src="../../assets/images/wentijieda.png" alt="">
                    <p>问题解答</p>
                    
                </a>
            </li>
            <li>
                <a href="../personal/personal.html">
                    <img src="../../assets/images/gerenzhongxing.png" alt="">
                    <p>个人中心</p>
                    
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>
