<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>资讯信息</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../../assets/css/master.css" rel="stylesheet">
<link href="../../assets/css/information.css" rel="stylesheet">
<script>
	document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth / 3.75 + "px";
</script>
</head>
<body style="font-size: 16px" class="channel_body">
    <div class="mychannel">
    	<div class="cahnnel_return">
    		<a href="javascript:history.go(-1);">
    			<img src="../../assets/images/return.png" alt="">
    		</a>
    	</div>
    	<div class="channel_click" >
    		<span class="one">我的频道</span>
    		<span class="two" id="delete_btn">排序/删除</span>
    		<span class="two" id="delete_btn_two">排序/删除</span>
    	</div>
    	<div class="channel_list my_channel_list">
    		<ul class="my_list_ul">
    			<!-- <li>热门</li> -->
    		</ul>
    	</div>

    	<div class="channel_click addchannel">
    		<span class="one">添加频道</span>
    		
    	</div>
    	<div class="channel_list">
    		<a href="infosearch.html" title="">
 				<input type="text" placeholder="输入你感兴趣的关键词">
 			</a>
    		<ul class="list_ul">
<!--     			<li>
    				<img src="../../assets/images/channelup.png"> 热门
    			</li> -->
    		</ul>
    	</div>
    </div>

<script src="../../assets/js/infomation.js" type="text/javascript" charset="utf-8"></script>    
</body>
</html>

