<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>我要发布</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../../assets/css/master.css" rel="stylesheet">
<link href="../../assets/css/information.css" rel="stylesheet">
<link href="../../assets/css/personal.css" rel="stylesheet">
<script>
	document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth / 3.75 + "px";
</script>
</head>
<body style="font-size: 16px " class="foot_padd ">
    <header class="hudo_head">
    	<a href="javascript:history.go(-1);" class="head_left">
    		<img src="../../assets/images/Home_03_03.png" alt="">返回
    	</a>
    	<h3>我要发布</h3>
    	<!-- <img src="../../assets/images/Home_034_06.png" class="head_right" /> -->
    </header>

    <form class="release_form">
    	<input type="" name="" placeholder="标题" class="release_title"/>
    	<textarea rows="8" placeholder="具体内容" class="release_content"></textarea>
    	<div class="choice_label">
    		<span>标签设定：</span>
    		<ul>
    			<li>
    				<label>
    					<input type="checkbox" name="" value="法务">
    					<span>法务</span>
 					</label>
    			</li>
    			<li>
    				<label>
    					<input type="checkbox" name="" value="法务">
    					<span>法务</span>
 					</label>
    			</li>
    			<li>
    				<label>
    					<input type="checkbox" name="" value="法务">
    					<span>法务</span>
 					</label>
    			</li>
    			<li>
    				<label>
    					<input type="checkbox" name="" value="法务">
    					<span>法务</span>
 					</label>
    			</li>
    			<li>
    				<label>
    					<input type="checkbox" name="" value="法务">
    					<span>法务</span>
 					</label>
    			</li>
    		</ul>
    	</div>

    	<div class="up_pic_warp">
    		<div class="pic_list">
    			<ul>
    				<li><img src="../../assets/images/shangchuandatu.png" alt=""></li>
    			</ul>
    		</div>
    		<div class="pic_list_btn">
    			<img src="../../assets/images/baidi_07.png" alt="">
    			<img src="../../assets/images/dianjitupian_09.png" alt="">
    			<input type="button" name="" value="发布" class="foot_btn" />
    		</div>
    	</div>
    </form>
</body>
</html>

