<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>个人中心</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../../assets/css/master.css" rel="stylesheet">
<link href="../../assets/css/personal.css" rel="stylesheet">
<script>
	document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth / 3.75 + "px";
</script>
</head>
<body style="font-size: 16px;" class="foot_padd ">
    <header class="hudo_head">
    	<a href="javascript:history.go(-1);" class="head_left">
    		<img src="../../assets/images/Home_03_03.png" alt="">返回
    	</a>
    	<h3>个人中心</h3>
    	<!-- <img src="../../assets/images/Home_034_06.png" class="head_right" /> -->
    </header>

    <div class="onename">
    	<p>
    		<img src="../../assets/images/tuzitouxiang.png" alt="">
    	</p>
    	<h4>Uncel cat</h4>
    </div>
    <div class="tabs">
    	<ul>
    		<li>
    				<img src="../../assets/images/lvtou.png">
    		</li>
    		<li>
    				<img src="../../assets/images/jishiben.png">
    		</li>
    		<li>
    				<img src="../../assets/images/suozi.png">
    		</li>
    	</ul>
    </div>

    <div class="tab_content">
        <!-- tab第一部分 -->
    	<div class="people_con">
            <img src="../../assets/images/xiangshan.png" alt="" class="icon">
    		<ul>
    			<li>
    				<a href="" title="">
    					<span>昵称</span>
    					<p>Uncel cat</p>
    				</a>
    			</li>
    			<li>
    				<a href="" title="">
    					<span>性别</span>
    					<p>女</p>
    				</a>
    			</li>
    			<li>
    				<a href="" title="">
    					<span>所在地</span>
    					<p>成都</p>
    				</a>
    			</li>
    			<li>
    				<a href="" title="">
    					<span>简介</span>
    					<p>安全责任全在自身心中</p>
    					<img src="../../assets/images/lvdexiangyou.png" alt="">
    				</a>
    			</li>
    			<li>
    				<a href="" title="">
    					<span>职业</span>
    					<p>法律\资讯\法务</p>
    					<img src="../../assets/images/lvdexiangyou.png" alt="">
    				</a>
    			</li>
    			<li>
    				<a href="consultationRecord.html" title="">
    					<span>咨询记录</span>
                        <!-- 保证样式 -->
    					<p style="visibility: hidden;">站位</p>
    					<img src="../../assets/images/lvdexiangyou.png" alt="">
    				</a>
    			</li>
    			<li>
    				<a href="aboutMe.html" title="">
    					<span>关于我的</span>
	                    <!-- 保证样式 -->
                        <p style="visibility: hidden;">站位</p>
    					<img src="../../assets/images/lvdexiangyou.png" alt="">
    				</a>
    			</li>
    		</ul>
            <div class="certificate">
                <div>
                    <span>证书</span>
                    <input type="text" class="uptext" />
                    <input type="button" value="上传" class="upbtn" />
                </div>
                
                <ul class="up_pic_list">
                    <li>
                        <img src="../../assets/images/zhengshu.png" alt="">
                    </li>
                    <li>
                        <img src="../../assets/images/zhengshu2.png" alt="">
                    </li>
                     <li>
                        <img src="../../assets/images/zhengshu2.png" alt="">
                    </li>
                    <li>
                        <img src="../../assets/images/zhengshu.png" alt="">
                    </li>
                    <li>
                        <img src="../../assets/images/zhengshu2.png" alt="">
                    </li>
                </ul>
            </div>
    	</div>

        <!-- tab第二部分 -->
    	<div class="memorandum_con">
            <img src="../../assets/images/xiangshan.png" alt="" class="icon">
    		<p>
                <a href="memorandum.html" title="">
                    <img src="../../assets/images/jiajia.png" alt="">
                    <span>新建备忘录</span>
                </a>
            </p>
            <ul class="memolist">
                <li>
                    <a href="memodeTails.html" title="">
                        两点跟咨询师见面
                        <img src="../../assets/images/lajitong.png" alt="">
                    </a>
                </li>
               <li>
                    <a href="memodeTails.html" title="">
                        两点跟咨询师见面
                        <img src="../../assets/images/lajitong.png" alt="">
                    </a>
                </li>
                
            </ul>
    	</div>

        <!-- tab第三部分 -->
    	<div class="password_con">
            <img src="../../assets/images/xiangshan.png" alt="" class="icon">
    		<p>
                修改密码 
                <img src="../../assets/images/lvdexiangyou.png" alt="">    
            </p>
    	</div>
    </div>
    

    <footer>
        <ul>
            <li>
                <a href="../index.html">
                    <img src="../../assets/images/jiaoliu.png">
                    <p>交流互动</p>
                    
                </a>
            </li>
            <li>
                <a href="../information/informal.html">
                    <img src="../../assets/images/zixunxingxi.png" alt="">
                    <p>资讯信息</p>
                    
                </a>
            </li>
            <li>
                <a href="../ProblemSolving/ProblemSolving.html">
                    <img src="../../assets/images/wentijieda.png" alt="">
                    <p>问题解答</p>
                    
                </a>
            </li>
            <li>
                <a href="personal.html">
                    <img src="../../assets/images/gerenzhongxing.png" alt="">
                    <p>个人中心</p>
                    
                </a>
            </li>
        </ul>
    </footer>

<!-- tab切换 -->
<script src="../../assets/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
    $('.people_con').css('display','block');
     var tabs_li = $('.tabs li');
     var tabs_con = $('.tab_content>div');
     console.log(tabs_con.length);
    for (var i = 0; i < tabs_li.length; i++) {
        tabs_li[i].i = i;
        tabs_li[i].onclick = function(){
            var index = this.i;
            if (index == 0) {
               tabs_li.eq(0).html("<img src='../../assets/images/lvtou.png'>");
               tabs_li.eq(1).html("<img src='../../assets/images/jishiben.png'>");
               tabs_li.eq(2).html("<img src='../../assets/images/suozi.png'>");
            }
            if (index == 1) {
               tabs_li.eq(0).html("<img src='../../assets/images/huitou.png'>");
               tabs_li.eq(1).html("<img src='../../assets/images/jishiliang.png'>");
               tabs_li.eq(2).html("<img src='../../assets/images/suozi.png'>");
            }
            if (index == 2) {
               tabs_li.eq(0).html("<img src='../../assets/images/huitou.png'>");
               tabs_li.eq(1).html("<img src='../../assets/images/jishiben.png'>");
               tabs_li.eq(2).html("<img src='../../assets/images/liangsuo.png'>");
            }
            tabs_con.eq(index).show().siblings().hide();
        }
    }
})
</script>
</body>
</html>
