<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>安全查询</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../assets/css/master.css" rel="stylesheet">
<script>
	document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth / 3.75 + "px";
</script>
</head>
<body style="font-size: 16px" class="know_body">
    <header class="hudo_head">
    	<a href="javascript:history.go(-1);" class="head_left">
    		<img src="../assets/images/Home_03_03.png" alt="">返回
    	</a>
    	<h3>安全查询</h3>
    	<!-- <img src="../../assets/images/Home_034_06.png" class="head_right" /> -->
    </header>
    <form>
	    <div class="think_know">
	    	<h3>你想了解</h3>
	    	<ul>
	    		<li>
	    			<a href="" title="">工程安全常规项</a>
	    		</li>
	    		<li>
	    			<a href="" title="">工程安全常规项</a>
	    		</li>
	    		<li>
	    			<a href="" title="">工程安全常规项</a>
	    		</li>
	    		<li>
	    			<a href="" title="">工程安全常规项</a>
	    		</li>
	    	</ul>
	    </div>
	    <div class="know_more">
	    	<h3>你还想了解</h3>
	    		<textarea name="" placeholder="输入你查询的问题" class="typing"></textarea>
	    		<input type="button" value="提交" class="submitbtn" />
	    </div>
	    <div class="wait">
	    	<div>
	    		<p>
	    			<img src="../assets/images/wait.png">
	    		</p>
	    		<p>正在努力寻您附近的咨询师</p>
	    	</div>
	    </div>
 	</form>
</body>

<script type="text/javascript">
	(function(){
		var submitbtn = document.getElementsByClassName('submitbtn')[0];
		var wait = document.getElementsByClassName('wait')[0];
		var typing = document.getElementsByClassName('typing')[0];

		submitbtn.onclick = function(){
			if (typing.value) {
				wait.style.display = 'table';
				console.log(typing.value);
				setTimeout(function(){
					self.location='searchResult.html'; 
				},2000)
				
			}else{
				alert('请输入内容!');
			}
		};
		wait.onclick = function(){
			wait.style.display = 'none';

		}
 	})();
</script>
</html>
