<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>注册</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../assets/css/master.css" rel="stylesheet">
<script>
        document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth / 3.75 + "px";
</script>
</head>
<body style="font-size: 16px" class="sign_body">
	<div class="sign_form_wrap">
	    <div class="sign_form register_form">
	    	<form>
				<input type="text" placeholder="手机号" class="s_user s_input" />  
				<div class="obtain_btn">
				  	<input type="text" placeholder="请输入验证码" class="s_password s_input re_verification">	
					<input type="button" value="获取验证码" class="obtain" />
			  	</div>  	
				
				<input type="text" placeholder="设置密码" class="s_password s_input">
				<input type="text" placeholder="确认密码" class="s_password s_input">
				
				<input type="button" value="注册" class="Sign_btn register_btn" />
				<label class="register_agreement">
					<input type="checkbox">我阅读，并同意《诚实安全服务协议》
				</label>
		    </div>
	    </form>
	</div>

</body>
</html>