<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>登录</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="../assets/css/master.css" rel="stylesheet">
<script>
        document.getElementsByTagName("html")[0].style.fontSize = document.documentElement.clientWidth / 3.75 + "px";
</script>
</head>
<body style="font-size: 16px" class="sign_body">
	<div class="sign_form_wrap">
	    <div class="sign_form">
	    	<h3>诚实安全</h3>
			<input type="text" placeholder="请输入用户名" class="s_user s_input" />    	
			<input type="text" placeholder="请输入密码" class="s_password s_input">
			<label>
				<input type="checkbox">记住我
			</label>
			<input type="button" value="登录" class="Sign_btn" />
			<p>
				<a href="" title="">忘记密码?</a>
				<a href="register.html" title="">新用户注册</a>
			</p>   	
	    </div>
	</div>

</body>
</html>